body
  background:      #111
  color:           #EEE
  image-rendering: -moz-crisp-edges
  position:        relative

#speech
  display:     block
  width:       100px

  text-align:  center

  color:       #EEE
  font-size:   12px
  font-family: Helvetica
  font-weight: 700
  position:    absolute
  text-shadow: 1px 1px 0 black, 0 0 1px black

.hero
  color: #5E85BA
